.App {
  text-align: center;
  
}

.App-header {
  background-color: #1C3940;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Footer{
  background-color: #1C3940;
  display: flex;
  flex-direction: column;
  color: lightgray;
  font-size: 13px;
  text-align: center;
  align-items: center;
  margin-bottom: 5px;
}
.Footer-logoRffs {
  border-radius: 50px;
  height: 80px;
  width: 80px;
  margin-bottom: 5px;
}